.container .content {
  flex: 10;
  overflow-x: scroll;
  overflow-y: scroll;
}

a {
  color: rgb(200, 37, 37);
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
}

.subforum {
  margin-top: 20px;
}

.subforum-judul {
  background-color: #f5ccff;
  padding: 5px;
  border-radius: 5px;
  width: 98%;
  margin: 5px;
}

.subforum-baris {
  display: grid;
  grid-template-columns: 8% 60% 13% 20%;
}

.subforum-kolom {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f5ccff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon img {
  font-size: 20px;
  width: 110%;
  height: 90%;
}

a:hover {
  color: rgb(27, 204, 27);
}

@media screen and (max-width: 688px) {
  .body-cards .box {
    width: 69%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .header .link-category {
    margin-top: 20px;
  }

  .container .nav > li {
    padding: 10px;
    margin: 25px 0;
  }

  .container .nav li img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 490px) {
  .body-cards .box {
    width: 90%;
  }

  .container {
    flex-direction: column;
  }

  .container .nav {
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .container .nav > li {
    padding: 5px;
    background-color: black;
    border-radius: 15%;
    margin: 2% 0;
  }

  .container .nav li img {
    width: 35px;
    height: 35px;
  }
}
