.container {
  width: 90%;
  height: 90vh;
  background-color: pink;
  margin: 10px auto;
  padding: 20px;
}

.image img {
  text-align: center;
  max-width: 400px;
  height: 100%;
}

.image {
  height: 100%;
  width: fit-content;
  float: left;
}

.about {
  float: left;
  margin-left: 10%;
  height: 100%;
  width: 500px;
}
